@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/styles/globals.css */

/* ------------------------------
   Neue Haas Display Font Family
--------------------------------*/
@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Agar tum alag font test karna chahti ho */
@font-face {
  font-family: "Neue Haas Display Roman";
  src: url("./assets/fonts/roman-font.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* ------------------------------
   Apply Global
--------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Neue Haas Display" !important; /* 👈 only this */
  font-weight: 500; /* Default medium */
  color: #242424;
}
